name: Create Archive
on:
  push:
    branches:
      - main
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@master
      - name: Bump version and push tag
        id: bump
        uses: mathieudutour/github-tag-action@v6.1
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          default_bump: patch
      - name: Archive Release
        uses: thedoctor0/zip-release@0.7.1
        with:
          type: "zip"
          filename: "pamhc2create-${{ steps.bump.outputs.new_tag }}.zip"
          exclusions: "*.git*"
      - name: Upload Release
        uses: ncipollo/release-action@v1.12.0
        with:
          artifacts: "pamhc2create-${{ steps.bump.outputs.new_tag }}.zip"
          artifactErrorsFailBuild: true
          token: ${{ secrets.GITHUB_TOKEN }}
          tag: ${{ steps.bump.outputs.new_tag }}
          name: ${{ steps.bump.outputs.new_tag }}
          body: ${{ steps.bump.outputs.changelog }}
          commit: ${{ github.sha }}
      - name: "Upload to CurseForge"
        uses: itsmeow/curseforge-upload@v3
        with:
          file_path: "pamhc2create-${{ steps.bump.outputs.new_tag }}.zip"
          game_endpoint: "minecraft"
          relations: "requiredDependency:requiredDependency,pams-harvestcraft-2-crops:optionalDependency,pams-harvestcraft-2-food-core:optionalDependency,pams-harvestcraft-2-trees:optionalDependency,pams-harvestcraft-2-food-extended:optionalDependency"
          changelog: ${{ steps.bump.outputs.changelog }}
          display_name: ${{ steps.bump.outputs.new_tag }}
          project_id: "895433"
          token: "${{ secrets.CURSEFORGE_TOKEN }}"
